@model ArtCourseCenter.Models.Course

@{
    ViewData["Title"] = "Delete Course";
}

<h1>Delete Course</h1>

<div>

    <hr />
    <dl class="row">
        <div style="display:flex">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </div>
        <hr />
        <div style="display:flex">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <hr />
        <div style="display:flex">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fee)
            </dd>
        </div>
        <hr />
        <div style="display:flex">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quota)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quota)
            </dd>
        </div>
        <hr />
        <div style="display:flex">
            <dt class="col-sm-2">
                Availability
            </dt>
            @if (Model.IsAvailable)
            {
                <dd class="col-sm-10">
                    Available
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    Not Available
                </dd>
            }

        </div>
        <hr />
        <div style="display:flex">
            <dt class="col-sm-2">
                Instructor Id
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstructorId)
            </dd>
        </div>
        <hr />
    </dl>


    <form style="display:flex" asp-action="DeleteCourse" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <h3> </h3>
        <a class="btn btn-primary" href="../GetAllCourses"><img src="/css/Images/return.png" height="30" width="30" /> Back to List</a>
    </form>
</div>

@{
    try
    {
        if (ViewBag.msg != null)
        {
            <label>@ViewBag.msg</label>
        }
    }
    catch
    {

    }
}
