@model ArtCourseCenter.Models.Course

@{
    ViewData["Title"] = "DeleteCourse";
}

<h1>Delete Course</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorId)
        </dd>
    </dl>
    
    <form asp-action="DeleteCourse" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@{
    try
    {
        if (ViewBag.msg != null)
        {
            <label>@ViewBag.msg</label>
        }
    }
    catch
    {

    }
}
