@model IEnumerable<ArtCourseCenter.Models.Instructor>

@{
    ViewData["Title"] = "Instructors";
}

<h1>Instructors</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                Course Name
            </th>
            <th>
                Tr Identity Number
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRIdentityNumber)
                </td>
                <td><a class="btn btn-warning" href="./UpdateInstructor/@item.Id"><img src="/css/Images/pencil.png" height="30" width="30"/> Edit</a></td>
                <td><a class="btn btn-danger" href="./DeleteInstructor/@item.Id"><img src="/css/Images/delete.png" height="30" width="30" /> Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-success" href="./RegisterNewInstructor"><img src="/css/Images/tick.png" height="30" width="30" /> Add New Instructor</a>
</p>