@model IEnumerable<ArtCourseCenter.Models.Trainee>

@{
    ViewData["Title"] = "Trainees";
}

<h1>Trainees</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                Payment Status
            </th>
            <th>
                Registration Date
            </th>
            <th>
                Tr Identity Number
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                @if (@item.HasPaidTheFee)
                {
                    <td>Paid</td>
                }
                else
                {
                    <td>Not Paid</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRIdentityNumber)
                </td>
                <td><a class="btn btn-warning" href="./UpdateTrainee/@item.Id"><img src="~/css/Images/pencil.png" height="30" width="30"/> Edit</a></td>
                <td><a class="btn btn-danger" href="./DeleteTrainee/@item.Id"><img src="~/css/Images/delete.png" height="30" width="30"/> Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-success" href="./RegisterNewTrainee"><img src="/css/Images/tick.png" height="30" width="30"/> Add New Trainee</a>
</p>

