@model ArtCourseCenter.Models.Instructor





<table class="table table-responsive">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Course Name</th>
        <th>Tr Identity Number</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Salary</td>
        <td>@Model.CourseName</td>
        <td>@Model.TRIdentityNumber</td>
    </tr>
</table>


